<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Index.css">
    <title>Main Project</title>
</head>
<body>
    <!-- Aquí va el header que contendrá un logo de platzi argentina junto con el nombre del proyecto.-->
    <header>
        <div class="Logo"> <img src="../resources/platzi-arg-4.png" alt="Logo de platzi Argentina"> <p>Master Project de Leonardo Balbastro</p></div>
        <!-- <div class="subLogo"></div> -->
    </header>

<!-- Aquí va el body que contendrá el contenido principal de lo que se realizará, principalmente en este proyecto-->
    <section class="mainContent">
        <div class="wrap">
            <ul class="tabs">
                <li><a href="#TallerJS1"><span class="fa fa-figures"><span class="tab-text">Figuras Geometricas</span></span></a></li>
                <li><a href="#TallerJS2"><span class="fa fa-discount"><span class="tab-text">Precios con cupones de descuentos</span></span></a></li>
                <li><a href="#TallerJS3"><span class="fa fa-promedio"><span class="tab-text">Promedio, Media y Moda</span></span></a></li>
                <!-- <li><a href="#Media"><span class="fa fa-media"><span class="tab-text">Media Aritmetica</span></span></a></li>
                <li><a href="#Moda"><span class="fa fa-moda"><span class="tab-text">Moda</span></span></a></li> -->
            </ul>
            <div class="secciones" id="secciones">
                <article id="TallerJS1" class="TallerJS">
                    <!-- <h2>Figuras</h2> -->
                    <ul class="tabs__figures">
                        <li><a href="#Cuadrado"><span class="fa fa-Rectangulo"><span class="tab-text">Rectangulo</span></span></a></li>
                        <li><a href="#Triangulo"><span class="fa fa-Triangulo"><span class="tab-text">Triangulo</span></span></a></li>
                        <li><a href="#Circulo"><span class="fa fa-Circulo"><span class="tab-text">Circulo</span></span></a></li>
                    </ul>
                    <div>
                        <article id="Cuadrado" class="Cuadrado">
                            <!-- <h3>Cuadrado</h3> -->
                            <form class="Cuadrado__form">
                                <div class="Cuadrado__inputs">
                                    <label for="">Lado del Cuadrado en Centimetros</label>
                                    <input id="Cuadrado__form--input" class="Cuadrado__form--input" type="number"/>
                                </div>
                                <div class="Cuadrado__form--buttons">
                                    <button type="button" onclick="CalcularPerimetroCuadrado()">Calcular Perimetro</button>
                                    <button type="button" onclick="CalcularAreaCuadrado()">Calcular Area</button>
                                </div>                                
                                <p id="resultadoCuadrado"></p>
                            </form>
                        </article>
                        <article id="Triangulo" class="Triangulo">
                            <!-- <h3>Triangulo</h3> -->
                            <form id="Triangulo__form" class="Triangulo__form">
                                <div class="input1">
                                    <label for="" style="margin-right: 10px;">Centimetros que tiene uno de los lados</label>
                                    <input type="number" id="Triangulo__form--input1" class="Triangulo__form--input1">
                                </div>
                                <div class="input2">
                                    <label for="">Centimetros que tiene el lado diferente</label>
                                    <input type="number" id="Triangulo__form--input2" class="Triangulo__form--input2">
                                </div>
                                <div class="Triangulo__form--buttons">
                                    <button type="button" onclick="CalcularAreaTriangulo()">Calcular Area Triangulo</button>
                                    <button type="button" onclick="CalcularPerimetroTriangulo()">Calcular Perimetro Triangulo</button>
                                </div>
                                <p id="resultadoTriangulo"></p> 
                            </form>
                        </article>
                        <article id="Circulo" class="Circulo">
                            <!-- <h3>Circulo</h3> -->
                            <form action="" class="Circulo__form">
                                <div class="Circulo__form--inputs">
                                    <label>Ingrese el Radio del circulo: </label>
                                    <input class="Circulo__input" type="number" id="radio" />
                                </div>
                                <div class="Circulo__form--buttons">
                                    <button type="button" onclick="PerimetroCirculo()">Perimetro del Circulo</button>
                                    <button type="button" onclick="AreaCirculo()">Area del Circulo</button>
                                </div>
                            <p id="resultadoCirculo"></p> 
                                
                            </form>
                        </article>
                </article>
                <article id="TallerJS2" class="TallerJS">
                    <!-- <h2>Sistema de descuentos con cupones</h2> -->
                    <form action="" class="TallerJS2__form">
                        <div class="TallerJS2__form--input1">
                            <label for="">Precio: </label>
                            <Input id="precio" placeholder="Ingrese monto" type="number"></Input>
                        </div>
                        <div class="TallerJS2__form--input2">
                            <label for="">Cupon:</label>
                            <Input id="cupon" placeholder="Ingrese Cupon" type="text"></Input>
                        </div>
                        <button id="TallerJS2__form--button" class="TallerJS2__form--button" type="button" onclick="CalcularDescuento()">Calcular precio con descuento</button>
                        <p id="TallerJS2__form--resultado" class="TallerJS2__form--resultado"></p>
                    </form>
                </article>
                <article id="TallerJS3" class="TallerJS">
                    <!-- <h2>Promedio, Media y Moda.</h2> -->
                    <ul class="tabs">
                        <li><a href="#Promedio"><span class="fa fa-Promedio"><span class="tab-text">Promedio</span></span></a></li>
                        <li><a href="#Media"><span class="fa fa-Media"><span class="tab-text">Media</span></span></a></li>
                        <li><a href="#Moda"><span class="fa fa-Moda"><span class="tab-text">Moda</span></span></a></li>
                    </ul>                    
                    <article id="Promedio">
                        <h3>Promedio de una Lista:</h3>
                        <form action="" class="Promedio__form">
                            <label for="">Ingrese una lista de numeros separados por coma ","</label>
                            <input type="text" id="Promedio__form--input" class="Promedio__form--input">
                            <button type="button" id="Promedio__form--button" class="Promedio__form--button" onclick="getPromedio()">Obtener Promedio</button>
                            <p id="Promedio__form--result" class="Promedio__form--result"></p>
                        </form>
                    </article>
                    <article id="Media">
                        <h3>Media de una Lista:</h3>
                        <form action="">
                            <label for="listaInput">Ingrese una lista de numeros separados por coma ","</label>
                            <input type="text" id="listaInput">
                            <button type="button" onclick="getMedia()">Obtener Media</button>
                        </form>
                    </article>
                    <article id="Moda">
                        <h3>Moda de una Lista:</h3>
                        <form action="">
                            <label for="listaInput">Ingrese una lista de numeros separados por coma ","</label>
                            <input type="text" id="listaInput">
                            <button type="button" onclick="getModa()">Obtener Moda</button>
                        </form>
                    </article>
                </article>
            </div>
        </div>
    </section>
    <!--Este es el footer que estará mencionadas las clases que se tomaron a la hora de realizar dicho proyecto,
        Junto con el logo de Platzi (ya que es de ellos) y si le dan click encima los dirigirá a la pagina del curso-->
    <h2 class="titleFooter">Cursos en los cuales me base para realizar este proyecto:</h2>
    <footer>
        <ul>
            <a href="https://platzi.com/clases/frontend-developer/"><li><img src="../resources/badge-frontend-developer-8a49e681-3e22-408d-b886-2f47dfc9953a.png" alt="Curso de Frontend Developer"> <p>Clases del Curso de Frontend Developer</p></li></a>
            <a href="https://platzi.com/clases/basico-javascript/"><li><img src="../resources/basico_JS.png" alt=" Curso Básico de JavaScript"><p>Clases del Curso Básico de JavaScript</p></li></a>
            <a href="https://platzi.com/clases/javascript-practico/"><li><img src="../resources/practicoJS.png" alt="Curso Práctico de JavaScript"><p>Clases del Curso Práctico de JavaScript</p></li></a>
        </ul>
    </footer>
    <script src="../Scripts/Index.js"></script>
</body>
</html>